@font-face {
  font-family: MavenPro;
  src: url("fonts/MavenPro-VariableFont_wght.ttf") format('truetype');
}
*{
  font-family: MavenPro;
}
.login-container {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  input[type=text], input[type=password] {
    padding: 10px;
    border: 1px black solid 5px;
    /*border-radius: 5px;*/
    margin-bottom: 10px;
  }
  
  button[type=submit] {
    background-color: #bf2126;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
button:hover {
    background-color: #d8a528 ;
  }

.main-div{
  margin: auto;
  width: 50%;
  padding: 70px 0;
}